
<div class="container">
      <div *ngIf="selectedProduct">
        <h2>Detalhes do produto: {{selectedProduct.name | uppercase}}</h2>
        <div>id: {{selectedProduct.id}}</div>
        <div class="details">
          <label for="product-name">Nome: </label>
          <input id="product-name" [(ngModel)]="selectedProduct.name" placeholder="Nome"><br>
          <label for="product-preco">Preço: </label>
          <input id="product-preco" [(ngModel)]="selectedProduct.preco" placeholder="Preço"><br>
          <label for="product-qtdEstoque">Qtd. no Estoque: </label>
          <input id="product-qtdEstoque" [(ngModel)]="selectedProduct.qtdEstoque" placeholder="Quantidade no estoque"><br>
          <label for="product-categoria">Categoria: </label>
          <input id="product-categoria" [(ngModel)]="selectedProduct.categoria" placeholder="Categoria"><br>
        </div>
      </div>  
    <h2>Produtos</h2>
    <ul class="produtos">
      <li *ngFor="let produto of produtos" (click)="onSelect(produto)">
        <span class="badge">{{produto.id}}</span> {{produto.name}}
      </li>
    </ul>

</div>